<!doctype html>
<html ng-app="Search">
	<head>
		<title>BYU Bookmarks</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js"></script>
		<script src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="app.css">

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-559543-12', 'trevordixon.github.io');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<div ng-controller="SearchCtrl">
			<header>
				<h1>BYU Bookmarks</h1>
				<p class="add-more">Add more to <a href="https://docs.google.com/spreadsheet/ccc?key=0AjBVHYwKbJpzdDdWQUhZc3NLNlg4UXllM3doa2tINGc" target="_blank">this Google Spreadsheet</a>.</p>
				<input type="text" ng-model="search" placeholder="Filter" id="search-input" autofocus>
			</header>

			<div class="cards">
				<a ng-repeat="(i, item) in data | filter:search" ng-href="{{item.url}}" ng-click="ga('send', 'event', 'card', 'click')">
					<article title="{{item.title}}&#10;&#10;{{item.description}}">
						<h2 ng-bind="item.title"></h2>
						<p ng-bind="item.description"></p>
					</article>
				</a>
			</div>

			<footer>
				Inspired by <a href="http://boredinprovo.com/">BoredInProvo.com</a>. Send questions or comments to <a href="https://twitter.com/trevordixon" target="_blank">@trevordixon</a>.
			</footer>
		</div>
	</body>
</html>